<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Тег TEXTAREA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/checker.css') }}">
</head>

<body>
    <div class="pep8_checker">
        <div class="mistakes_container">
            <textarea class="mistakes" rows="10" cols="45" name="mistakes" readonly>{{ mistakes }}</textarea>
        </div>
        <div class="editor_container">
            <textarea name="numeration" id="editor_numeration" cols="30" rows="10" class="editor_numeration" readonly>{{ lines_numeration }}</textarea>
            <form class="editor_form" action="/pep8_check" method="post">
                <textarea class="editor" id="editor" rows="10" cols="45" name="text">{{ text }}</textarea>
                <a href="/" id="back_to_file_choosing">Выбрать файл</a>
                <input class="editor_button" type="submit" value="Проверить">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/checker.js') }}"></script>
</body>

</html>