<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Тег TEXTAREA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div id="modal" class="modal">
        <div class="modal_text_wrapper">
            <div class="modal_text">
                <div class="modal_text_header">Правила пользования:</div>
                <div class="modal_main_text">
                    <p>1. Нажмите на область загрузки файла.</p>
                    <p>2. Выберите файл, который хотите проверить на соответствие
                        стандарту pep8.</p>
                    <p>3. Нажмите на кнопку "Отправить", чтобы перейти на страницу
                        проверки.</p>
                    <p>4. Если ваш файл соответствует стандарту, в левом окне вы увидите
                        "Файл соответсвует стандартам pep8". В противном случае там будут
                        выведены причины несоответствия.</p>
                    <p>5. Если файл не соответствует стандарту, то его можно исправить
                        в правом окне.</p>
                    <p>6. для повторной проверки файла, нажмите "Проверить".</p>
                    <p>7. Чтобы вернуться к выбору файла, нажмите "Выбрать файл".</p>
                </div>
            </div>
        </div>
    </div>
    <div class="file_chooser">
        <form action="/pep8_check" method="POST" enctype="multipart/form-data">
            <span id="file_name">Выберите файл для проверки</span>
            <img id="not_uploaded" src="{{ url_for('static', filename='images/upload.png') }}" class="upload-icon" />
            <img id="uploaded" src="{{ url_for('static', filename='images/uploaded.png') }}" class="upload-icon" />
            <input type="file" id="file-selector" name="file" />
            <textarea id="text_to_send" style="display: none;" name="text"></textarea>
            <input id="submit_button" type="submit" />
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>

</html>