<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Тег TEXTAREA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div class="file_chooser">
        <form action="/pep8_check" method="POST" enctype="multipart/form-data">
            <span id="file_name">Выберите файл для проверки</span>
            <img id="not_uploaded" src="{{ url_for('static', filename='images/upload.png') }}" class="upload-icon" />
            <img id="uploaded" src="{{ url_for('static', filename='images/uploaded.png') }}" class="upload-icon" />
            <input type="file" id="file-selector" name="file" />
            <textarea id="text_to_send" style="display: none;" name="text"></textarea>
            <input id="submit_button" type="submit" />
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>